@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron my-4">
    <h1 class="display-3">Url Shortener!</h1>
    <p class="lead">Shorten your Long Url to a Short Url. Try it!</p>
    <div class="control-group form-group row">
        <label class="col-md-2 col-form-label">Long URL</label>
        <div class="col-md-10">
            <input type="text" placeholder="https://ts.my" class="form-control">
        </div>
    </div>
    <a href="#" class="btn btn-primary btn-lg">Shorten!</a>
</header>
