@model UrlShortener
@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron my-4">
    <h1 class="display-3">Url Shortener!</h1>
    <p class="lead">Shorten your Long Url to a Short Url. Try it!</p>
    <form asp-action="Index">
        <div class="control-group form-group row">
            <label asp-for="LongUrl" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="LongUrl" placeholder="https://ts.my" class="form-control">
            </div>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.ShortUrl))
            {
                <div class="control-group form-group row">
                    <label asp-for="ShortUrl" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.ShortUrl)
                    </div>
                </div>
            }
        }
        <input type="submit" value="Shorten!" class="btn btn-primary btn-lg" />
    </form>
</header>
